* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: "Inter", Arial, sans-serif;
}

body {
  overflow-y: scroll;
}

.screen {
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.screen-header {
  background: linear-gradient( #c0a8ff, #f3a6ff, #ffb86b, #ff9966, #f1e1c1, #e6ccb2);
  background-attachment: fixed;
  background-size: cover;
}

.screen-img {
  background: linear-gradient( #e6ccb2, #f1e1c1, #ff9966, #ffb86b, #f3a6ff, #c0a8ff);
}

.screen-music {
  background: linear-gradient( #c0a8ff, #f3a6ff, #ffb86b, #ff9966, #f1e1c1, #e6ccb2);
}

.screen-txt {
    background: linear-gradient( #e6ccb2, #f1e1c1, #ff9966, #ffb86b, #f3a6ff, #c0a8ff);

}

.main-title {
  font-size: 5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 1400;
  text-shadow: 0 3px 16px rgba(0,0,0,0.35);
}

.content-box {
  width: 1000px;
  height: 600px;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  background: white;
  text-align: center;
  transition: transform 0.3s ease;
}


.content-box:hover {
  transform: translateY(-3px);
}

.content-box h1 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: white;
}

.gradient-purple {
  background: linear-gradient(135deg, #c0a8ff, #5a40c7); 
}

.gradient-orange {
  background: linear-gradient(135deg, #ffb86b, #ff684e); 
}

.gradient-beige {
  background: linear-gradient(135deg, #e972e9, #df3bb6); 
}
.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.button {
  padding: 24px 180px;
  border: none;
  border-radius: 16px;
  background: #2d236a;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 24px;
  margin-top: 35px;
}

.button:hover {
  background: #4b38b3;
}

.name {
  margin-top: 35px;
}

.text_name {
  color: wheat;
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.upload-btn-img, .predict-btn-img {
  flex: 1;
  padding: 18px 0;
  border: none;
  border-radius: 16px;
  background-color: #5a40c7;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}
.upload-btn-img:hover,
.predict-btn-img:hover {
  background-color: #ff6fb0;
  transform: translateY(-2px);
}

.upload-btn-music, .predict-btn-music {
  flex: 1;
  padding: 18px 0;
  border: none;
  border-radius: 16px;
  background-color: rgb(190, 63, 32);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}
.upload-btn-music:hover,
.predict-btn-music:hover {
  background-color: rgb(214, 120, 33);
  transform: translateY(-2px);
}

.upload-btn-txt, .predict-btn-txt {
  flex: 1;
  padding: 18px 0;
  border: none;
  border-radius: 16px;
  background-color: #731486;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}
.upload-btn-txt:hover,
.predict-btn-txt:hover {
  background-color: #b554c9;
  transform: translateY(-2px);
}

.file-name {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #2c2c2c;
  background-color: rgba(255,255,255,0.7);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  min-width: 300px;
  text-align: center;
}


.output {
  margin-top: 70px;
  font-family: monospace;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 16px;
  border-radius: 16px;
  text-align: left;
  white-space: pre-wrap;
  color: black;
  font-size: 24px;
}
